---
import Education from "@/components/education.astro";
import Intro from "@/components/intro.astro";
import LatestPosts from "@/components/latest-posts.astro";
import Projects from "@/components/projects.astro";
import Work from "@/components/work.astro";
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout>
  <div class="container mx-auto max-w-3xl space-y-10 px-4">
    <Intro />

    <Work />

    <Projects />

    <Education />

    <LatestPosts />
  </div>
</BaseLayout>
